<tr>
  <td>#</td>
  <td><%= link_to(post.content, post_path(post)) %></td>
  <td><%= render_post_content(post) %></td>
  <td><%= post.user.email %></td>
  <td>
    <% if current_user && current_user == post.user %>
      <%= link_to("Edit", edit_post_path(post), class: "btn btn-sm btn-default")%>
      <%= link_to("Delete", post_path(post),    class: "btn btn-sm btn-default",
                  method: :delete, data: { confirm: "确定要删除这篇影评吗？" } )%>
    <% end %>
  </td>

</tr>
